.container {
	background-color: peachpuff;
	position: relative;
	display: block;
}
.outer-shell {
	color: black;
	width: 100%;
	margin:0% 0% 0% 35%;
	display: inline-block;
	border-radius: 30%;
	position:relative;
}
.inner-shell {
	height: 20em;
	background-color: #333;
	width: 50%;
	border: solid black 1px;
	border-radius: 35%;
	margin: % 0% 0% 0%;
}
.clock-screen {
	height: 6em;
	background-color: #8C001A;
	width: 60%;
	margin: 10% 0% 0% 20%;
	display: inline-block;
	position: relative;
	border: solid red 1px;
	border-radius: 10%;
}

#clock-text {
	color: #F70D1A;
	font-size: 1.5em;
	height: 1.5em;
	width: 90%;
	margin: 15% 0% 0% 35%;
	position:absolute;
	
	
}
.left-labels p {
	float:left;
	color: red;
	display: block;
}
.bottom-am-label {
	display: inline-block;
	color: white;
	background-color: black;
	height: 2em;
	border:;
	border-radius: 10%;
	width: 60.5%;
	margin: 0% 0% 0% 19.65%;
}
.bottom-pm-label {
	display: inline-block;
	color: white;
	background-color: black;
	height: 2em;
	border:;
	border-radius: 10%;
	width: 60.5%;
	margin: 0% 0% 0% 19.65%;
}

